@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 36 100% 98%; /* Light Orange */
        --foreground: 20 14% 12%;

        --card: 36 100% 98%;
        --card-foreground: 20 14% 12%;

        --popover: 36 100% 98%;
        --popover-foreground: 20 14% 12%;

        --primary: 33 100% 50%; /* Saturated Orange */
        --primary-foreground: 40 100% 10%;

        --secondary: 36 25% 90%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 36 25% 90%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 30 46% 51%; /* Desaturated Brown */
        --accent-foreground: 40 100% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 36 25% 85%;
        --input: 36 25% 85%;
        --ring: 33 100% 50%;

        --radius: 0.75rem;
    }

    .dark {
        --background: 20 14% 4%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14% 4%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14% 4%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 33 100% 50%;
        --primary-foreground: 40 100% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 30 46% 51%;
        --accent-foreground: 40 100% 10%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 20%;
        --input: 12 6.5% 20%;
        --ring: 33 100% 50%;
    }
}

@layer base {

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(180deg, hsl(var(--background)) 0%, hsl(var(--secondary)) 100%),
        url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800"><filter id="f"><feTurbulence type="fractalNoise" baseFrequency="0.005" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23f)"/></svg>');
        background-repeat: no-repeat;
        background-size: cover, cover;
        background-position: center, center;
        opacity: 0.05;
        z-index: -1;
    }

    .dark body::before {
        opacity: 0.03;
    }
}
